*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     width: 100%;
}
.popular{
    left: 24%;
}
nav{
    width: 100%;
}
.images img{
    width: 25px;
}


@media (max-width:768px) {
    .popular{
        top: 15px;
        left: 65%;
    }
    
   
}